*, *:before, *:after {
          
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          }

.navigation-bar {
          background-color: #192529;
          color: #3b51a1;
          line-height: 100px;
          height: 100px;
          width: 100%;
          padding: 10px;
          font-size: 30 px;
          position: absolute;
          font-family: 'Noto Sans JP', sans-serif;
          }
.navbar a {
          color: #3b51a1;
          }
.navbar ul {
          float: left;
          height: 100%;
          line - height: inherit;
          padding: 25 px;
          }
.navbar ul li {
          text-align: center;
          padding: 10px;
          }
h1 {
          font-size: 100 px;
          }
