@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f1626;
}

li, a {
    font-family: "Nobile", sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-family: "Vollkorn", sans-serif;
    font-weight: 500;
    font-size: 250px;
    align-items: center;
    color: #ffffff; 
    text-decoration: none;
    margin: 100px;
}

h2 {
    font-family: "Vollkorn", sans-serif;
    font-weight: 400;
    font-size: 90px;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-family: "Nobile", sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav {
    order: 1;
}

.n_l {
    list-style: none;
}

.n_l li{
    display: inline-block;
    padding: 0px 20px;
}

.n_l li:nth-child(1) {
    padding: 0 20px 0 0;
}

.n_l a {
    transition: all 0.3 ease 0s;
}

.n_l a:hover {
    color: #c7abdb;
}
 

