@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sura:wght@700&family=Vollkorn:ital,wght@1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1f1626;
}

li, a {
    font-family: "Nobile", sans-serif;
    font-weight: 500;
    font-size: 35px;
    color: #ffffff;
    text-decoration: none;
}

body, html {
  height: 100%;
}

.img-1 {
  background-image: url("img-1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 {
  background-image: url("img-2.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-3 {
  background-image: url("img-3.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-4 {
  background-image: url("img-4.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-5 {
  background-image: url("img-5.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-6 {
  background-image: url("img-6.jpg");
  height: 20%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
h1 {
    font-family: "Sura", sans-serif;
    font-weight: 500;
    font-size: 250px;
    align-items: center;
    color: #ffffff; 
    text-decoration: none;
    margin: 25px;
}

h2 {
    font-family: "Sura", sans-serif;
    font-weight: 400;
    font-size: 90px;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

h3 {
    font-family: "Nobile", sans-serif;
    font-weight: 400;
    font-size: 28px;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

::selection {
    background-color: #8ec96b;
    color: #ffffff;
}

p {
    font-family: "Nobile", sans-serif;
    font-weight: 400;
    font-size: 75px;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 5%;
}

.gradient {
    background-image: linear-gradient(to right, #0a1c4d, #6d4ecc, #e3bff2);
    border-radius: 6px;
    padding: 3px 6px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav {
    order: 1;
}

.n_l {
    list-style: none;
}

.n_l li{
    display: inline-block;
    padding: 0px 20px;
}

.n_l li:nth-child(1) {
    padding: 0 20px 0 0;
}

.n_l a {
    transition: all 0.3 ease 0s;
}

.n_l a:hover {
    color: #c7abdb;
}
 

